<section id="back" class="map_wrapper clearfix">
    <div id=map-section></div>
    <div class=container>
        <div class=row>
            <div class=contact_form>
                <h2 class=heading>RESERVATION <span> DETAILS</span></h2>

                <p class=headParagraph>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quisquam reprehenderit, blanditiis nam debitis libero facilis illum repudiandae eveniet voluptatibus quibusdam illo ea nisi ipsa accusantium nobis animi asperiores quaerat
                    ,Lorem ipsum dolor sit amet .</p>


                <form role="form" class="formcontact clearfix" novalidate>

                    <div class=form-group>

                        <input type=text class=form-control formControlName="id" value="{{reserve.id}}" readonly>

                    </div>

                    <div class=form-group>

                        <input type=text class=form-control formControlName="nbrjoueur" value="{{reserve.nbrjoueur}}" readonly>

                    </div>

                    <div class=form-group>

                        <input type=text class=form-control formControlName="date" value="{{reserve.nbrjoueur.reservedBy}}" readonly>

                    </div>

                    <div class=form-group>

                        <input type=text class=" form-control " formControlName="terrain" readonly>

                    </div>

                    <div class=form-group>

                        <input type=text class=form-control formControlName="reservedBy" readonly>

                    </div>

                    <div class=form-group>

                        <input type=text name="creneau " id="creneau " class=" form-control " formControlName="creneau" readonly>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>